<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Example<</title>
    <script src="https://unpkg.com/vue"></script>
    
</head>
<body>
   <div id="app">
       {{message}}
   </div>
   div id="app2"
   <span v-bind:title="message">
       hover your mouse over me for a few seconds to see the title!
       </span>
       <v-bind:href="linkUrl" target="_blank"rel="noopener noreferrer"></v-bind:href>
       {{linktext}}

       </a>>
       </body>div>

       div id="app3"
       <span v-if="showIt">now you see this!</span>span>
       </html>div>

<>div id="app4"
              <ol>
           <v-for="todo in the list">
               {{todo.text}}
               </li>
               </ol>
            </div>

            <div id="app5">
                <p>

                    {{msg}}
                    </p><p></p>>
                    button v-on:click"reversemsg">Reverse the string!</div>button>
                </div>
                div id="app6">
                <p>{{message}}</p><p></p>
                <input type="text" v-model="message">
            </div>

            <div id="app7">
                <ol>
                    <grocery-list v-for="item in GroceryList" v-bind:todo"item"v-bind:todo="item"v-bind:key="item.id"></grocery-list>grocery-list>
                    </ol>ol>
                    </div>div>

                    <script src="js/index.js</script>

                        </body
                    </html>

<><>
<>                   



       

</html>